<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>com.smcinema.user.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdministrator</servlet-name>
        <servlet-class>com.smcinema.admin.AddAdministrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>com.smcinema.user.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovie</servlet-name>
        <servlet-class>com.smcinema.admin.AddMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>com.smcinema.user.LogoutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveMoviePoster</servlet-name>
        <servlet-class>com.smcinema.user.RetrieveMoviePoster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserPassword</servlet-name>
        <servlet-class>com.smcinema.user.ChangeUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieBranch</servlet-name>
        <servlet-class>com.smcinema.admin.AddMovieBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieAuditorium</servlet-name>
        <servlet-class>com.smcinema.admin.AddMovieAuditorium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMovieBranches</servlet-name>
        <servlet-class>com.smcinema.reservation.GetMovieBranches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMovieAuditorium</servlet-name>
        <servlet-class>com.smcinema.reservation.GetMovieAuditorium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMovieSchedule</servlet-name>
        <servlet-class>com.smcinema.reservation.GetMovieSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMovieAvailableDay</servlet-name>
        <servlet-class>com.smcinema.reservation.GetMovieAvailableDay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveTicket</servlet-name>
        <servlet-class>com.smcinema.reservation.ReserveTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProceedToPayment</servlet-name>
        <servlet-class>com.smcinema.reservation.ProceedToPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInformation</servlet-name>
        <servlet-class>com.smcinema.user.UpdateUserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInfoOfSelectedMovie</servlet-name>
        <servlet-class>com.smcinema.movies.ShowInfoOfSelectedMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminInformation</servlet-name>
        <servlet-class>com.smcinema.admin.UpdateAdminInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAdminPassword</servlet-name>
        <servlet-class>com.smcinema.admin.ChangeAdminPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailsOfSelectedMovieForAdmin</servlet-name>
        <servlet-class>com.smcinema.movies.ShowDetailsOfSelectedMovieForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllAvailableMovies</servlet-name>
        <servlet-class>com.smcinema.movies.ShowAllAvailableMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllMovieAuditorium</servlet-name>
        <servlet-class>com.smcinema.movies.ShowAllMovieAuditorium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentWithPayPal</servlet-name>
        <servlet-class>com.smcinema.paypal.PaymentWithPayPal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationSuccess</servlet-name>
        <servlet-class>com.smcinema.reservation.ReservationSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowReservationHistory</servlet-name>
        <servlet-class>com.smcinema.user.ShowReservationHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayPalOrCreditCardReservationSuccess</servlet-name>
        <servlet-class>com.smcinema.reservation.PayPalOrCreditCardReservationSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllMovieBranches</servlet-name>
        <servlet-class>com.smcinema.movies.ShowAllMovieBranches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllUsers</servlet-name>
        <servlet-class>com.smcinema.admin.ShowAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllAdministrators</servlet-name>
        <servlet-class>com.smcinema.admin.ShowAllAdministrators</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllReservationsReport</servlet-name>
        <servlet-class>com.smcinema.admin.ShowAllReservationsReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOfUserInReservation</servlet-name>
        <servlet-class>com.smcinema.admin.UpdateStatusOfUserInReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllMovieBranches</servlet-name>
        <servlet-class>com.smcinema.admin.GetAllMovieBranches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllMovieAuditorium</servlet-name>
        <servlet-class>com.smcinema.admin.GetAllMovieAuditorium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailsOfSelectedReservation</servlet-name>
        <servlet-class>com.smcinema.user.ShowDetailsOfSelectedReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockIndividualSeats</servlet-name>
        <servlet-class>com.smcinema.admin.BlockIndividualSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChangesToBlockedSeats</servlet-name>
        <servlet-class>com.smcinema.admin.SaveChangesToBlockedSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTheBlockedSeats</servlet-name>
        <servlet-class>com.smcinema.admin.GetAllTheBlockedSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetDatabaseForBlockedSeats</servlet-name>
        <servlet-class>com.smcinema.admin.ResetDatabaseForBlockedSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveTicketForPreferredSeating</servlet-name>
        <servlet-class>com.smcinema.user.ReserveTicketForPreferredSeating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTheReservedSeats</servlet-name>
        <servlet-class>com.smcinema.admin.GetAllTheReservedSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetectIfEmailAddressIsExisting</servlet-name>
        <servlet-class>com.smcinema.user.DetectIfEmailAddressIsExisting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAnswerForQuestionThenUpdatePassword</servlet-name>
        <servlet-class>com.smcinema.user.CheckAnswerForQuestionThenUpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSalesOfSelectedMovie</servlet-name>
        <servlet-class>com.smcinema.admin.ShowSalesOfSelectedMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSelectedMovie</servlet-name>
        <servlet-class>com.smcinema.admin.EditSelectedMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSelectedMovie</servlet-name>
        <servlet-class>com.smcinema.admin.DeleteSelectedMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchiveSelectedMovie</servlet-name>
        <servlet-class>com.smcinema.admin.ArchiveSelectedMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSchedule</servlet-name>
        <servlet-class>com.smcinema.user.ChangeSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSeat</servlet-name>
        <servlet-class>com.smcinema.user.ChangeSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTheFreeSeatingMovies</servlet-name>
        <servlet-class>com.smcinema.user.GetAllTheFreeSeatingMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllThePreferredSeatingMovies</servlet-name>
        <servlet-class>com.smcinema.user.GetAllThePreferredSeatingMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelReservationForUsers</servlet-name>
        <servlet-class>com.smcinema.user.CancelReservationForUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetectIfUserForfeitsReservation</servlet-name>
        <servlet-class>com.smcinema.admin.DetectIfUserForfeitsReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetectIfMovieReachTheCloseDate</servlet-name>
        <servlet-class>com.smcinema.admin.DetectIfMovieReachTheCloseDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetectIfUserIsBlocked</servlet-name>
        <servlet-class>com.smcinema.user.DetectIfUserIsBlocked</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailsOfSelectedAdministrator</servlet-name>
        <servlet-class>com.smcinema.admin.ShowDetailsOfSelectedAdministrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSelectedAdministrator</servlet-name>
        <servlet-class>com.smcinema.admin.DeleteSelectedAdministrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailsOfSelectedMovieBranch</servlet-name>
        <servlet-class>com.smcinema.admin.ShowDetailsOfSelectedMovieBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSelectedMovieBranch</servlet-name>
        <servlet-class>com.smcinema.admin.UpdateSelectedMovieBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSelectedMovieBranchName</servlet-name>
        <servlet-class>com.smcinema.admin.DeleteSelectedMovieBranchName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveTicketViaOnSitePayment</servlet-name>
        <servlet-class>com.smcinema.user.ReserveTicketViaOnSitePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailsOfSelectedMovieAuditorium</servlet-name>
        <servlet-class>com.smcinema.admin.ShowDetailsOfSelectedMovieAuditorium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSelectedMovieAuditoriumName</servlet-name>
        <servlet-class>com.smcinema.admin.UpdateSelectedMovieAuditoriumName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSelectedMovieAuditoriumName</servlet-name>
        <servlet-class>com.smcinema.admin.DeleteSelectedMovieAuditoriumName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOfAccountUserOrAdmin</servlet-name>
        <servlet-class>com.smcinema.admin.UpdateStatusOfAccountUserOrAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetectIfHowManySeatsAreAvailable</servlet-name>
        <servlet-class>com.smcinema.user.DetectIfHowManySeatsAreAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveTicketViaPaypal</servlet-name>
        <servlet-class>com.smcinema.user.ReserveTicketViaPaypal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSeatOfUserInReservation</servlet-name>
        <servlet-class>com.smcinema.user.UpdateSeatOfUserInReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSalesBasedOnCategory</servlet-name>
        <servlet-class>com.smcinema.admin.ShowSalesBasedOnCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUpdateStatusOfUserInReservation</servlet-name>
        <servlet-class>com.smcinema.admin.ShowUpdateStatusOfUserInReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTheComingSoonMovies</servlet-name>
        <servlet-class>com.smcinema.user.GetAllTheComingSoonMovies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdministrator</servlet-name>
        <url-pattern>/AddAdministrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovie</servlet-name>
        <url-pattern>/AddMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/LogoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveMoviePoster</servlet-name>
        <url-pattern>/RetrieveMoviePoster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPassword</servlet-name>
        <url-pattern>/ChangeUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieBranch</servlet-name>
        <url-pattern>/AddMovieBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieAuditorium</servlet-name>
        <url-pattern>/AddMovieAuditorium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovieBranches</servlet-name>
        <url-pattern>/GetMovieBranches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovieAuditorium</servlet-name>
        <url-pattern>/GetMovieAuditorium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovieSchedule</servlet-name>
        <url-pattern>/GetMovieSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMovieAvailableDay</servlet-name>
        <url-pattern>/GetMovieAvailableDay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveTicket</servlet-name>
        <url-pattern>/ReserveTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProceedToPayment</servlet-name>
        <url-pattern>/ProceedToPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInformation</servlet-name>
        <url-pattern>/UpdateUserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInfoOfSelectedMovie</servlet-name>
        <url-pattern>/ShowInfoOfSelectedMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminInformation</servlet-name>
        <url-pattern>/UpdateAdminInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAdminPassword</servlet-name>
        <url-pattern>/ChangeAdminPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailsOfSelectedMovieForAdmin</servlet-name>
        <url-pattern>/ShowDetailsOfSelectedMovieForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllAvailableMovies</servlet-name>
        <url-pattern>/ShowAllAvailableMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllMovieAuditorium</servlet-name>
        <url-pattern>/ShowAllMovieAuditorium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentWithPayPal</servlet-name>
        <url-pattern>/PaymentWithPayPal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationSuccess</servlet-name>
        <url-pattern>/ReservationSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowReservationHistory</servlet-name>
        <url-pattern>/ShowReservationHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayPalOrCreditCardReservationSuccess</servlet-name>
        <url-pattern>/PayPalOrCreditCardReservationSuccess</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>authtoken</param-name>
        <param-value>5hxDcY3WGU2OjPaLYaM93ek3fV8iWJ3BfYKPXN7E3WyYuFCFXCV4f97aLt4</param-value>
    </context-param>
    <context-param>
        <param-name>posturl</param-name>
        <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    <context-param>
        <param-name>business</param-name>
        <param-value>tristanrosales_business@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>returnurl</param-name>
        <param-value>http://localhost:8084/SM_Cinema_Online_Seat_Reservation/pages/USER/confirmPayment.jsp</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ShowAllMovieBranches</servlet-name>
        <url-pattern>/ShowAllMovieBranches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllUsers</servlet-name>
        <url-pattern>/ShowAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllAdministrators</servlet-name>
        <url-pattern>/ShowAllAdministrators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllReservationsReport</servlet-name>
        <url-pattern>/ShowAllReservationsReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOfUserInReservation</servlet-name>
        <url-pattern>/UpdateStatusOfUserInReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllMovieBranches</servlet-name>
        <url-pattern>/GetAllMovieBranches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllMovieAuditorium</servlet-name>
        <url-pattern>/GetAllMovieAuditorium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailsOfSelectedReservation</servlet-name>
        <url-pattern>/ShowDetailsOfSelectedReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockIndividualSeats</servlet-name>
        <url-pattern>/BlockIndividualSeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChangesToBlockedSeats</servlet-name>
        <url-pattern>/SaveChangesToBlockedSeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTheBlockedSeats</servlet-name>
        <url-pattern>/GetAllTheBlockedSeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetDatabaseForBlockedSeats</servlet-name>
        <url-pattern>/ResetDatabaseForBlockedSeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveTicketForPreferredSeating</servlet-name>
        <url-pattern>/ReserveTicketForPreferredSeating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTheReservedSeats</servlet-name>
        <url-pattern>/GetAllTheReservedSeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetectIfEmailAddressIsExisting</servlet-name>
        <url-pattern>/DetectIfEmailAddressIsExisting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAnswerForQuestionThenUpdatePassword</servlet-name>
        <url-pattern>/CheckAnswerForQuestionThenUpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSalesOfSelectedMovie</servlet-name>
        <url-pattern>/ShowSalesOfSelectedMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSelectedMovie</servlet-name>
        <url-pattern>/EditSelectedMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSelectedMovie</servlet-name>
        <url-pattern>/DeleteSelectedMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchiveSelectedMovie</servlet-name>
        <url-pattern>/ArchiveSelectedMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSchedule</servlet-name>
        <url-pattern>/ChangeSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSeat</servlet-name>
        <url-pattern>/ChangeSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTheFreeSeatingMovies</servlet-name>
        <url-pattern>/GetAllTheFreeSeatingMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllThePreferredSeatingMovies</servlet-name>
        <url-pattern>/GetAllThePreferredSeatingMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelReservationForUsers</servlet-name>
        <url-pattern>/CancelReservationForUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetectIfUserForfeitsReservation</servlet-name>
        <url-pattern>/DetectIfUserForfeitsReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetectIfMovieReachTheCloseDate</servlet-name>
        <url-pattern>/DetectIfMovieReachTheCloseDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetectIfUserIsBlocked</servlet-name>
        <url-pattern>/DetectIfUserIsBlocked</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailsOfSelectedAdministrator</servlet-name>
        <url-pattern>/ShowDetailsOfSelectedAdministrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSelectedAdministrator</servlet-name>
        <url-pattern>/DeleteSelectedAdministrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailsOfSelectedMovieBranch</servlet-name>
        <url-pattern>/ShowDetailsOfSelectedMovieBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSelectedMovieBranch</servlet-name>
        <url-pattern>/UpdateSelectedMovieBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSelectedMovieBranchName</servlet-name>
        <url-pattern>/DeleteSelectedMovieBranchName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveTicketViaOnSitePayment</servlet-name>
        <url-pattern>/ReserveTicketViaOnSitePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailsOfSelectedMovieAuditorium</servlet-name>
        <url-pattern>/ShowDetailsOfSelectedMovieAuditorium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSelectedMovieAuditoriumName</servlet-name>
        <url-pattern>/UpdateSelectedMovieAuditoriumName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSelectedMovieAuditoriumName</servlet-name>
        <url-pattern>/DeleteSelectedMovieAuditoriumName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOfAccountUserOrAdmin</servlet-name>
        <url-pattern>/UpdateStatusOfAccountUserOrAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetectIfHowManySeatsAreAvailable</servlet-name>
        <url-pattern>/DetectIfHowManySeatsAreAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveTicketViaPaypal</servlet-name>
        <url-pattern>/ReserveTicketViaPaypal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSeatOfUserInReservation</servlet-name>
        <url-pattern>/UpdateSeatOfUserInReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSalesBasedOnCategory</servlet-name>
        <url-pattern>/ShowSalesBasedOnCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUpdateStatusOfUserInReservation</servlet-name>
        <url-pattern>/ShowUpdateStatusOfUserInReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTheComingSoonMovies</servlet-name>
        <url-pattern>/GetAllTheComingSoonMovies</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>adminHomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
